---
http_interactions:
- request:
    method: get
    uri: https://api.opsgenie.com/v2/schedules/e71d500f-896a-4b28-8b08-3bfe56e1ed76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GenieKey <OPSGENIE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Response-Time:
      - '0.015'
      X-Ratelimit-State:
      - OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"e71d500f-896a-4b28-8b08-3bfe56e1ed76","name":"first_line","description":"","timezone":"Europe/London","enabled":true,"ownerTeam":{"id":"72c99d92-c7c8-4fd9-b8db-9cc293cd19e7","name":"support_team"},"rotations":[{"id":"69e7d46d-538e-4fca-95d0-5c316a54424e","name":"On
        Call Phone","startDate":"2017-03-15T08:00:00Z","type":"daily","length":1,"participants":[{"type":"user","id":"19e39115-07d5-4924-8295-332a66dd1569","username":"systems@dxw.com"}]},{"id":"b073c102-ecd5-4a6f-acf2-443280074c33","name":"Ops","startDate":"2019-07-24T09:00:00Z","endDate":"2019-09-04T10:00:00Z","type":"weekly","length":1,"participants":[{"type":"user","id":"c0b51b7f-302d-4d95-b069-9b57d4fff3b0","username":"olivia@dxw.com"},{"type":"user","id":"8be02293-95fb-43d1-91cf-703ba8c74934","username":"bob@dxw.com"},{"type":"user","id":"acd9af98-e3c0-4588-8276-1c545911e44f","username":"chris@dxw.com"}],"timeRestriction":{"type":"weekday-and-time-of-day","restrictions":[{"startDay":"wednesday","endDay":"wednesday","startHour":10,"endHour":18,"startMin":0,"endMin":0},{"startDay":"tuesday","endDay":"tuesday","startHour":10,"endHour":18,"startMin":0,"endMin":0},{"startDay":"thursday","endDay":"thursday","startHour":10,"endHour":18,"startMin":0,"endMin":0},{"startDay":"friday","endDay":"friday","startHour":10,"endHour":18,"startMin":0,"endMin":0},{"startDay":"monday","endDay":"monday","startHour":10,"endHour":18,"startMin":0,"endMin":0}]}},{"id":"48950a6a-387b-4e80-ab42-b491593c9bbe","name":"Ops
        minus bob","startDate":"2019-09-04T07:00:00Z","type":"w[...]
- request:
    method: get
    uri: https://api.opsgenie.com/v2/schedules/e71d500f-896a-4b28-8b08-3bfe56e1ed76/on-calls?date=2019-10-15T10:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GenieKey <OPSGENIE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Response-Time:
      - '0.009'
      X-Ratelimit-State:
      - OK
    body:
      encoding: UTF-8
      string: '{"data":{"_parent":{"id":"e71d500f-896a-4b28-8b08-3bfe56e1ed76","name":"first_line","enabled":true},"onCallParticipants":[{"id":"19e39115-07d5-4924-8295-332a66dd1569","name":"systems@dxw.com","type":"user"},{"id":"acd9af98-e3c0-4588-8276-1c545911e44f","name":"chris@dxw.com","type":"user"},{"id":"5995df24-ec93-43b5-9745-7efa7e618523","name":"robbie.paul@dxw.com","type":"user"}]},"took":0.009,"requestId":"5798b572-7fcf-4a56-9cfc-44cf2117967d"}'
  recorded_at: Mon, 14 Oct 2019 23:00:00 GMT
recorded_with: VCR 5.0.0
