---
http_interactions:
- request:
    method: get
    uri: https://api.opsgenie.com/v2/schedules/b8e97704-0e9d-41b5-b27c-9d9027c83943
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GenieKey <OPSGENIE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Response-Time:
      - '0.073'
      X-Ratelimit-State:
      - OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b8e97704-0e9d-41b5-b27c-9d9027c83943","name":"ooh_second_line","description":"","timezone":"Europe/London","enabled":true,"ownerTeam":{"id":"72c99d92-c7c8-4fd9-b8db-9cc293cd19e7","name":"support_team"},"rotations":[{"id":"6fce1fd0-578a-431a-8c18-ae7db8b48bb5","name":"Rota","startDate":"2019-09-11T09:30:00Z","type":"weekly","length":1,"participants":[{"type":"user","id":"acd9af98-e3c0-4588-8276-1c545911e44f","username":"chris@dxw.com"},{"type":"user","id":"45e0e1a5-72f0-4df9-a449-13a4c35c486f","username":"dom@dxw.com"},{"type":"user","id":"055dad59-af7f-42a3-8591-9ac04863e546","username":"lee@dxw.com"}],"timeRestriction":{"type":"weekday-and-time-of-day","restrictions":[{"startDay":"friday","endDay":"monday","startHour":18,"endHour":10,"startMin":0,"endMin":0},{"startDay":"thursday","endDay":"friday","startHour":18,"endHour":10,"startMin":0,"endMin":0},{"startDay":"wednesday","endDay":"thursday","startHour":18,"endHour":10,"startMin":0,"endMin":0},{"startDay":"monday","endDay":"tuesday","startHour":18,"endHour":10,"startMin":0,"endMin":0},{"startDay":"tuesday","endDay":"wednesday","startHour":18,"endHour":10,"startMin":0,"endMin":0}]}}]},"took":0.073,"requestId":"93883ce7-6741-41b4-8fbc-b83e3c3b30b0"}'
  recorded_at: Thu, 26 Sep 2019 13:25:20 GMT
recorded_with: VCR 5.0.0
