---
http_interactions:
- request:
    method: get
    uri: https://api.opsgenie.com/v2/schedules/some_schedule?identifierType=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GenieKey <OPSGENIE_API_KEY>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Response-Time:
      - '0.003'
      X-Ratelimit-State:
      - OK
    body:
      encoding: UTF-8
      string: '{"code":40301,"message":"Api key is not authorized to access the schedule","took":0.003,"requestId":"418de5e6-7985-4d96-bd1a-49124e85c199"}'
  recorded_at: Thu, 28 Nov 2019 11:03:18 GMT
recorded_with: VCR 5.0.0
