---
http_interactions:
- request:
    method: get
    uri: https://api.opsgenie.com/v2/schedules/b1d1b076-70b3-43a6-ac3b-ac386fdca79c?identifierType=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GenieKey <OPSGENIE_API_KEY>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Response-Time:
      - '0.008'
      X-Ratelimit-State:
      - OK
    body:
      encoding: UTF-8
      string: '{"code":40301,"message":"Api key is not authorized to access the schedule","took":0.008,"requestId":"fc0fdeb3-05fc-4cf0-8f9d-940fee3b10ba"}'
  recorded_at: Thu, 28 Nov 2019 11:02:49 GMT
recorded_with: VCR 5.0.0
